openapi: 3.0.3
info:
  title: HubMAP/SenNet Ontology API (hs-ontology-api)
  description: The HuBMAP/SenNet Ontology API contains endpoints for querying a UBKG(https://ubkg.docs.xconsortia.org/) instance with content from the HuBMAP/SenNet context (https://ubkg.docs.xconsortia.org/contexts/#hubmapsennet-context). The hs-ontology-api imports the [ubkg-api](https://github.com/x-atlas-consortia/ubkg-api), which encapsulates both basic connectivity to a UBKG instance and generic endpoint code. This specification describes endpoints of both hs-ontology-api and ubkg-api.
  version: 1.3.1
  contact:
    name: GitHub repository
    url: https://github.com/x-atlas-consortia/hs-ontology-api
servers:
  - url: https://ontology.api.hubmapconsortium.org/
    description: Production server
paths:
  /assayname: # CPK MAR 2023 - replacement for search-api endpoint of the same name
    post:
      operationId: assayname_post
      summary: Replacement for the same endpoint in search-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssayNameRequest"
            example:
              name: [ PAS, Image Pyramid ]
              application_context: HUBMAP
      responses:
        '200':
          description: A JSON array of the assay type name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayTypePropertyInfo'
              example:
                name: bulk-RNA
                primary: true
                description: Bulk RNA-seq
                vitessce-hints: ["pyramid","anndata"]
                contains-pii: true
                vis-only: true
  /assaytype:
    get:
      operationId: assaytype_get
      summary: Replacement for endpoint in search-api. The primary parameter filters by assay type (primary, not primary); if no value provided, all assay types are returned.
      parameters:
        - name: primary
          in: query
          required: false
          description: Determines if records are all, primary, or not primary.
          schema:
            type: string
            example: true
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of the assay type name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayTypePropertyInfo'
              example:
                name: bulk-RNA
                primary: true
                description: Bulk RNA-seq
                vitessce-hints: ["pyramid","anndata"]
                contains-pii: true
                vis-only: true
  /assaytype/{name}: # CPK MAR 2023 - replacement for search-src endpoint of the same name
    get:
      operationId: assaytype_name_get
      summary: Replacement for the same endpoint in search-api with the addition of application_context
      parameters:
        - name: name
          in: path
          required: true
          description: AssayType name
          schema:
            type: string
            example: bulk-RNA
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of the assay type name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayTypePropertyInfo'
              example:
                name: bulk-RNA
                primary: true
                description: Bulk RNA-seq
                vitessce-hints: ["pyramid","anndata"]
                contains-pii: true
                vis-only: true
  /datasets: # JAS FEB 2023 - note that parameters use underscores, even when the corresponding key in the response uses dashes--e.g., alt_names, alt-names
    get:
      operationId: dataset_get
      summary: Returns information on a set of HuBMAP or SenNet dataset types, with options to filter the list to those with specific property values. Filters are additive (i.e., boolean AND)
      parameters:
        - name: application_context
          in: query
          required: true
          description: Required filter to indicate application context.
          schema:
            type: string
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
        - name: data_type
          in: query
          required: false
          description: Optional filter for data_type
          schema:
            type: string
            example: AF
        - name: description
          in: query
          required: false
          description: Optional filter for display name. Use URL-encoding (space = %20).
          schema:
            type: string
            example: Autofluorescence%20Microscopy
        - name: alt_name
          in: query
          required: false
          description: Optional filter for a single element in the alt-names list--i.e., return datasets for which alt-names includes a value that matches the parameter. Although the field is named 'alt-names', the parameter uses 'alt_name'. Use URL-encoding (space = %20)
          schema:
            type: string
            example: Light%20Sheet
        - name: primary
          in: query
          required: false
          description: Optional filter to filter to primary (true) or derived (false) assay.
          schema:
            type: string
            enum:
              - true
              - false
        - name: contains_pii
          in: query
          required: false
          description: Optional filter for whether the dataset contains Patient Identifying Information (PII). Although the field is named 'contains-pii', use 'contains_pii' as an argument.
          schema:
            type: string
            enum:
              - true
              - false
        - name: vis_only
          in: query
          required: false
          description: Optional filter for whether datasets are visualization only (true). Although the field is named 'vis-only', use 'vis_only' as an argument.
          schema:
            type: string
            enum:
              - true
              - false
        - name: vitessce_hint
          in: query
          required: false
          description: Optional filter for a single element in the vitessce_hint list--i.e., return datasets for which vitessce_hints includes a value that matches the parameter. Although the field is named 'vitessce-hints', use 'vitessce_hint' as an argument.
          schema:
            type: string
            enum:
              - pyramid
              - anndata
              - is_image
              - is_tiled
              - is_sc
              - rna
              - atac
              - sprm
              - codex
              - maldi
        - name: dataset_provider
          in: query
          required: false
          description: Optional filter to identify the dataset provider - IEC (iec)  or external (lab)
          schema:
            type: string
            enum:
              - iec
              - IEC
              - external
              - External
              - lab
              - Lab
      responses:
        '200':
          description: A JSON array of dataset types with properties, optionally filtered by parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetPropertyInfo'
  /organs:
    get:
      operationId: get_organ_types
      summary: Returns 2 letter organ code, rui_code, sab, and term to support the Registration User Interface (RUI)
      parameters:
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of the organ types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SabCodeTermRuiCode'
  /organs/by-code:
    get:
      operationId: get_organ_by_code
      summary: Returns term by 2 letter organ code
      parameters:
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of term by 2 letter organ code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RuiCodeTerm'
  /relationships/gene/{target_symbol}:
    get:
      operationId: relationships_for_gene_target_symbol_get
      summary: Returns relationships associated with the gene
      parameters:
        - name: target_symbol
          in: path
          required: true
          description: one of gene name, symbol, alias, or prior symbol
          schema:
            type: string
            example: MMRN1
      responses:
        '200':
          description: A JSON array of the HGNCIdRelationships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HGNCIdRelationships'
              example:
                symbol-approved: ["MMRN1"]
                symbol-previous: ["MMRN"]
                symbol-alias: ["EMILIN4", "GPIa*", "ECM"]
  /valueset:
    get:
      operationId: valueset_get
      summary: Returns a valueset of concepts that are children (have as isa relationship) of another concept.
      parameters:
        - name: parent_sab
          in: query
          required: true
          description: the SAB of the parent concept
          schema:
            type: string
            example: HUBMAP
        - name: parent_code
          in: query
          required: true
          description: the code of the parent concept in the SAB (local ontology)
          schema:
            type: string
            example: C000530
        - name: child_sabs
          in: query
          required: true
          description: the list of SABs for child concepts, in order of preference (in case of parent concepts with cross-references)
          schema:
            type: array
            uniqueItems: true
            items:
              type: string
              example: HUBMAP,SNOMEDCT_US
            default: [ ]
      responses:
        '200':
          description: A JSON array of preferred terms for child codes that have an isa relationship with the parent code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SabCodeTerm'
  /genes:
    get:
      operationId: gene_list_get
      summary: Return high-level information on a set of genes specified by pagination parameters.
      parameters:
        - name: page
          in: query
          required: false
          description: Offset set of genes of count=genesperpage. Can be a non-negative number or the words "first" or "last".
          schema:
            type: string
            default: 1
          example: 1
        - name: genesperpage
          in: query
          required: false
          description: Number of genes per "page" to return. Can be a nonzero number.
          schema:
            type: string
            default: 10
        - name: starts_with
          in: query
          required: false
          description: Optional string by which to filter by gene symbol. If this parameter has a value, the page of results is set to 1.
          schema:
            type: string
            example: M
      responses:
        '200':
          description: high-level information on genes specified by HGNC identifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneListResponse'

  /gene/{id}:
    get:
      operationId: gene_detail_get
      summary: Return detailed information on a gene specified by a HGNC identifier.
      parameters:
        - name: id
          in: path
          required: true
          description: HGNC identifier. An identifier can be an approved ID (e.g., 7178); approved symbol (e.g., MMRN1); alias (e.g., EMILIN4 for MMRN1); previous symbol (e.g., MMRN for MMRN1); previous alias; or a name string (approved, previous, alias--e.g., "multimerin 1").
          schema:
            type: string
            example: MMRN1
      responses:
        '200':
          description: detailed information on the gene specified by a HGNC identifier.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneDetailResponse'
components:
  schemas:
    AssayTypePropertyInfo:
      type: object
      description: Properties of a HuBMAP/SenNet AssayType.
      properties:
        name:
          type: string
          description: AssayType name; used to characterize dataset entities in provenance hierarchy
          example: bulk-RNA
        primary:
          type: boolean
          description: Indicates whether the assay is primary (true) or derived (false)
          example: true
        description:
          type: string
          description: How datasets of the data type are named in the Data Portal.
          example: Bulk RNA-seq
        vitessce-hints:
          type: array
          description: Flags for Vitessce visualization
          items:
            type: string
            example: ["pyramid","anndata","is_image","is_tiled","is_sc","rna","atac","sprm","codex","maldi"]
        contains-pii:
          type: boolean
          description: Whether the dataset contains Patient Identifying Information (PII) (true or false)
          example: true
        vis-only:
          type: boolean
          description: Indicates whether for visualization only (true or false)
          items:
            type: boolean
            example: true
    DatasetPropertyInfo: # Schema name JAS FEB 2023. Note that GET parameters use underscores, even when the corresponding key in the response uses dashes--e.g., alt_names, alt-names.
      type: object
      description: Properties of a HuBMAP/SenNet Dataset. Where applicable, key names match those found in the original assay_types.yaml.
      properties:
        alt-names:
          type: array
          description: Alternative/deprecated synonyms of data_type that may still be associated with dataset entities
          items:
            type: string
          example: [ "MALDI-IMS-pos", "MALDI-IMS-neg" ]
        contains-pii:
          type: string
          description: Whether the dataset contains Patient Identifying Information (PII)
          example: true
        data_type:
          type: string
          description: Data type for the dataset; used to characterize dataset entities in provenance hierarchy
          example: bulk-RNA
        dataset_provider:
          type: string
          description: Identifies the provider of the dataset. 'External Provider' also referred to as 'lab-processed'.
          example: HuBMAP IEC
        description:
          type: string
          description: How datasets of the data type are named in the Data Portal.
          example: Bulk RNA-seq
        primary:
          type: string
          description: Indicates whether the assay is primary (true) or derived (false)
          example: true
        vis-only:
          type: string
          description: Indicates whether for visualization only
          items:
            type: string
            example: true
        vitessce-hints:
          type: array
          description: Flags for Vitessce visualization
          items:
            type: string
            example: ["pyramid","anndata","is_image","is_tiled","is_sc","rna","atac","sprm","codex","maldi"]
          example: Microscopy
    RuiCodeTerm:
      type: object
      description: Respoonse body for organs/by-code GET request
      properties:
        rui_code:
          type: string
          description: Two letter organ code
          example: "UT"
        term:
          type: string
          description: Organ type
          example: "Uterus"
    SabCodeTermRuiCode:
      type: object
      description: Response body for organs GET request
      properties:
        sab:
          type: string
          description: Source abbreviation
          example: "HUBMAP"
        term:
          type: string
          description: Organ type
          example: "Uterus"
        code:
          type: string
          description: The identifier for a concept in a vocabulary or ontology in the UMLS. A code is unique to the ontology.
          example: "C030081"
        rui_code:
          type: string
          description: Two letter organ code
          example: "UT"
        organ_uberon:
          type: string
          description: UBERON code
        organ_cui:
          type: string
          description: The organ CUI
    HGNCIdRelationships:
      type: object
      description: Response Body for relationships/hgnc-id/{id} GET request
      properties:
        symbol-approved:
          description: HGNC data Approved Symbols, but should only be one
          type: array
          items:
            type: string
            example: ["MMRN1"]
        symbol-previous:
          description: HGNC data Previous Symbols
          type: array
          items:
            type: string
            example: ["MMRN"]
        symbol-alias:
          description: HGNC data Alias Symbols
          type: array
          items:
            type: string
            example: ["EMILIN4", "GPIa*", "ECM"]
    SabCodeTerm: # Schema name
      type: object
      properties:
        sab:
          type: string
          example: NCI
        code:
          type: string
          example: C16853
        term:
          type: string
          example: Microscopy
    AssayNameRequest: # Schema name CPK MR 2023.
      type: object
      description: Request body for assaytype POST request
      properties:
        name:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: AssayType name which can be a string or an array of strings
          example: [ PAS, Image Pyramid ]
        application_context:
          type: string
          default: HUBMAP
          enum:
            - HUBMAP
            - SENNET
            - hubmap
            - sennet
            - HuBMAP
            - SenNet
    GeneListResponse:
      type: object
      description: High-level information on a set of genes requested by the gene_list endpoint.
      properties:
        genes:
          type: array
          description: gene information
          items:
            type: object
            properties:
              approved_name:
                type: string
                description: HGNC approved name
                example: multimerin 1
              approved_symbol:
                type: string
                description: HGNC approved symbol
                example: MMRN1
              summary:
                type: string
                description: RefSeq summary for the gene
                example: Multimerin is a massive, soluble protein found in....
        genes_per_page:
          type: number
          description: value of genesperpage paramater from the gene_list endpoint
          example: 3
        page:
          type: number
          description: value of page paramater from the gene_list endpoint
          example: 1
        total_pages:
          type: number
          description: total number of "pages" based on the values of genesperpage and the total number of genes
          example: 14381
        starts_with:
          type: string
          description: value of starts_with from the gene_list endpoint
          example: M
    GeneDetailResponse: # JAS Sept 2023
      type: object
      description: Detailed information on a gene.
      properties:
        alias_names:
          type: array
          description: HGNC alias names
          items:
            type: string
          example: [glycoprotein Ia*]
        alias_symbols:
          type: array
          description: HGNC alias symbols
          items:
            type: string
          example: [GPIa*,EMILIN4,ECM]
        approved_name:
          type: string
          description: HGNC approved name
          example: multimerin 1
        approved_symbol:
          type: string
          description: HGNC approved symbol
          example: MMRN1
        cell_types:
          type: array
          description: Cell Ontology cell types associated with a HGNC gene in the Human Referene Atlas (HRA)
          items:
            type: object
            properties:
              definition:
                type: string
                description: Definition of the cell type from Cell Ontology
                example: A endothelial cell of a lymphatic ....
              id:
                type: string
                description: Identifier for the cell type, in format CL<colon>code
                example: CL:0002138
              name:
                type: string
                description: Name (preferred term) for the cell type from Cell Ontology
                example: endothelial cell of lymphatic vessel
              organs:
                type: array
                description: Array of organs associated with the cell type, based on relationships in the Human Resource Atlas and Azimuth
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Identifier (code) for the organ in source
                      example: 0000948
                    source:
                      type: string
                      description: Source vocabulary for id for organ
                      example: UBERON
                    name:
                      type: string
                      description: Name (preferred term) for organ in source
                      example: heart
              sources:
                type: array
                description: Array of identifiers of sources for the association of the cell type to the gene
                items:
                  type: string
                  example: Human Reference Atlas
        hgnc_id:
          type: number
          description: numeric HGNC ID for the gene
          example: 60
        previous_names:
          type: array
          description: previous names for the gene in HGNC
          items:
            type: string
          example: [multimerin]
        previous_symbols:
          type: array
          description: previous symbols for the gene in HGNC
          items:
            type: string
            example: [MMRN]
        references:
          type: array
          description: Reference for the gene between HGNC and other vocabularies. References can be either a cross-reference (e.g., between HGNC ID and NCBI Entrez ID) or from a known relationship (e.g., gene-protein relationships between a gene in HGNC and a protein in UniProtKB).
          items:
            type: object
            properties:
              id:
                type: string
                description: ID (code) for the reference in the source
                example: 22915
              source:
                type: string
                description: source vocabulary for the reference
                example: entrez
              url:
                type: string
                description: URL to reference site
                example: https://www.ncbi.nlm.nih.gov/gene/22915
        summary:
          type: string
          description: RefSeq summary of the gene
          example: Multimerin is a massive, soluble protein found in....