openapi: 3.0.3
info:
  title: HubMAP/SenNet Ontology API (hs-ontology-api)
  description: The HuBMAP/SenNet Ontology API contains endpoints for querying a UBKG(https://ubkg.docs.xconsortia.org/) instance with content from the HuBMAP/SenNet context (https://ubkg.docs.xconsortia.org/contexts/#hubmapsennet-context). The hs-ontology-api imports the [ubkg-api](https://github.com/x-atlas-consortia/ubkg-api), which encapsulates both basic connectivity to a UBKG instance and generic endpoint code. This specification describes endpoints of both hs-ontology-api and ubkg-api.
  version: 1.3.1
  contact:
    name: GitHub repository
    url: https://github.com/x-atlas-consortia/hs-ontology-api
servers:
  - url: https://ontology.api.hubmapconsortium.org/
    description: Production server
paths:
  /assayname: # CPK MAR 2023 - replacement for search-api endpoint of the same name
    post:
      operationId: assayname_post
      summary: Replacement for the same endpoint in search-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssayNameRequest"
            example:
              name: [ PAS, Image Pyramid ]
              application_context: HUBMAP
      responses:
        '200':
          description: A JSON array of the assay type name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayTypePropertyInfo'
              example:
                name: bulk-RNA
                primary: true
                description: Bulk RNA-seq
                vitessce-hints: ["pyramid","anndata"]
                contains-pii: true
                vis-only: true
        '400':
          description: Invalid request - missing request body; missing key *name* in request body; value for key *name* incorrectly specified
        '404':
          description: No assay type found corresponding to the value of the *name* key in the request body
        '5XX':
          description: Unknown error
  /assaytype:
    get:
      operationId: assaytype_get
      summary: Replacement for endpoint in search-api. The primary parameter filters by assay type (primary, not primary); if no value provided, all assay types are returned.
      parameters:
        - name: primary
          in: query
          required: false
          description: Determines if records are all, primary, or not primary.
          schema:
            type: string
            example: true
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of the assay type name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayTypePropertyInfo'
              example:
                name: bulk-RNA
                primary: true
                description: Bulk RNA-seq
                vitessce-hints: ["pyramid","anndata"]
                contains-pii: true
                vis-only: true
  /assaytype/{name}: # CPK MAR 2023 - replacement for search-src endpoint of the same name
    get:
      operationId: assaytype_name_get
      summary: Replacement for the same endpoint in search-api with the addition of application_context
      parameters:
        - name: name
          in: path
          required: true
          description: AssayType name
          schema:
            type: string
            example: bulk-RNA
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of the assay type name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayTypePropertyInfo'
              example:
                name: bulk-RNA
                primary: true
                description: Bulk RNA-seq
                vitessce-hints: ["pyramid","anndata"]
                contains-pii: true
                vis-only: true
  /datasets: # JAS FEB 2023 - note that parameters use underscores, even when the corresponding key in the response uses dashes--e.g., alt_names, alt-names
    get:
      operationId: dataset_get
      summary: Returns information on a set of HuBMAP or SenNet dataset types, with options to filter the list to those with specific property values. Filters are additive (i.e., boolean AND)
      parameters:
        - name: application_context
          in: query
          required: true
          description: Required filter to indicate application context.
          schema:
            type: string
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
        - name: data_type
          in: query
          required: false
          description: Optional filter for data_type
          schema:
            type: string
            example: AF
        - name: description
          in: query
          required: false
          description: Optional filter for display name. Use URL-encoding (space = %20).
          schema:
            type: string
            example: Autofluorescence%20Microscopy
        - name: alt_name
          in: query
          required: false
          description: Optional filter for a single element in the alt-names list--i.e., return datasets for which alt-names includes a value that matches the parameter. Although the field is named 'alt-names', the parameter uses 'alt_name'. Use URL-encoding (space = %20)
          schema:
            type: string
            example: Light%20Sheet
        - name: primary
          in: query
          required: false
          description: Optional filter to filter to primary (true) or derived (false) assay.
          schema:
            type: string
            enum:
              - true
              - false
        - name: contains_pii
          in: query
          required: false
          description: Optional filter for whether the dataset contains Patient Identifying Information (PII). Although the field is named 'contains-pii', use 'contains_pii' as an argument.
          schema:
            type: string
            enum:
              - true
              - false
        - name: vis_only
          in: query
          required: false
          description: Optional filter for whether datasets are visualization only (true). Although the field is named 'vis-only', use 'vis_only' as an argument.
          schema:
            type: string
            enum:
              - true
              - false
        - name: vitessce_hint
          in: query
          required: false
          description: Optional filter for a single element in the vitessce_hint list--i.e., return datasets for which vitessce_hints includes a value that matches the parameter. Although the field is named 'vitessce-hints', use 'vitessce_hint' as an argument.
          schema:
            type: string
            enum:
              - pyramid
              - anndata
              - is_image
              - is_tiled
              - is_sc
              - rna
              - atac
              - sprm
              - codex
              - maldi
        - name: dataset_provider
          in: query
          required: false
          description: Optional filter to identify the dataset provider - IEC (iec)  or external (lab)
          schema:
            type: string
            enum:
              - iec
              - IEC
              - external
              - External
              - lab
              - Lab
      responses:
        '200':
          description: A JSON array of dataset types with properties, optionally filtered by parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetPropertyInfo'
  /organs:
    get:
      operationId: get_organ_types
      summary: Returns 2 letter organ code, rui_code, sab, and term to support the Registration User Interface (RUI)
      parameters:
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of the organ types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SabCodeTermRuiCode'
  /organs/by-code:
    get:
      operationId: get_organ_by_code
      summary: Returns term by 2 letter organ code
      parameters:
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of term by 2 letter organ code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RuiCodeTerm'
  /relationships/gene/{target_symbol}:
    get:
      operationId: relationships_for_gene_target_symbol_get
      summary: Returns relationships associated with the gene
      parameters:
        - name: target_symbol
          in: path
          required: true
          description: one of gene name, symbol, alias, or prior symbol
          schema:
            type: string
            example: MMRN1
      responses:
        '200':
          description: A JSON array of the HGNCIdRelationships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HGNCIdRelationships'
              example:
                symbol-approved: ["MMRN1"]
                symbol-previous: ["MMRN"]
                symbol-alias: ["EMILIN4", "GPIa*", "ECM"]
        '404':
          description: Nothing found for gene target symbol *target_symbol*.
        '5XX':
          description: Unknown error
  /valueset:
    get:
      operationId: valueset_get
      summary: Returns a valueset of concepts that are children (have as isa relationship) of another concept.
      parameters:
        - name: parent_sab
          in: query
          required: true
          description: the SAB of the parent concept
          schema:
            type: string
            example: HUBMAP
        - name: parent_code
          in: query
          required: true
          description: the code of the parent concept in the SAB (local ontology)
          schema:
            type: string
            example: C000530
        - name: child_sabs
          in: query
          required: true
          description: the list of SABs for child concepts, in order of preference (in case of parent concepts with cross-references)
          schema:
            type: array
            uniqueItems: true
            items:
              type: string
              example: HUBMAP,SNOMEDCT_US
            default: [ ]
      responses:
        '200':
          description: A JSON array of preferred terms for child codes that have an isa relationship with the parent code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SabCodeTerm'
  /genes:
    get:
      operationId: gene_list_get
      summary: Return high-level information on a set of genes specified by pagination parameters.
      parameters:
        - name: page
          in: query
          required: false
          description: Offset set of genes of count=genesperpage. Can be a non-negative number or the words "first" or "last".
          schema:
            type: string
            default: 1
          example: 1
        - name: genesperpage
          in: query
          required: false
          description: Number of genes per "page" to return. Can be a nonzero number.
          schema:
            type: string
            default: 10
        - name: starts_with
          in: query
          required: false
          description: Optional string by which to filter by gene symbol.
          schema:
            type: string
            example: M
      responses:
        '200':
          description: high-level information on genes specified by HGNC identifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneListResponse'
        '400':
          description: Invalid parameter--e.g., *genesperpage* is either non-numeric or a negative number; *page* is something other than a non-negative number or the words 'first' or 'last'
        '404':
          description: No genes that satisfied the criteria were found. This usually means that there are no genes with HGNC approved symbols that start with the string specified in the *starts_with* parameter.
        '5XX':
          description: Unexpected error
  /gene/{id}:
    get:
      operationId: gene_detail_get
      summary: Return detailed information on a gene specified by a HGNC identifier.
      parameters:
        - name: id
          in: path
          required: true
          description: HGNC identifier. An identifier can be an approved ID (e.g., 7178); approved symbol (e.g., MMRN1); alias (e.g., EMILIN4 for MMRN1); previous symbol (e.g., MMRN for MMRN1); previous alias; or a name string (approved, previous, alias--e.g., "multimerin 1").
          schema:
            type: string
            example: MMRN1
      responses:
        '200':
          description: detailed information on the gene specified by a HGNC identifier.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneDetailResponse'
        '404':
          description: No information for gene with HGNC identifier *id*.
        '5XX':
          description: Unexpected error
  /proteins:
    get:
      operationId: protein_list_get
      summary: Return high-level information on a set of proteins specified by pagination parameters.
      parameters:
        - name: page
          in: query
          required: false
          description: Offset set of proteins of count=proteinsperpage. Can be a non-negative number or the words "first" or "last".
          schema:
            type: string
            default: 1
          example: 1
        - name: proteinsperpage
          in: query
          required: false
          description: Number of proteins per "page" to return. Can be a nonzero number.
          schema:
            type: string
            default: 10
        - name: starts_with
          in: query
          required: false
          description: Optional *case-insensitive* string by which to filter by UniProtKB protein name.
          schema:
            type: string
            example: M
      responses:
        '200':
          description: high-level information on proteins specified by UniProtKB identifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProteinListResponse'
        '400':
          description: Invalid parameter--e.g., *proteinsperpage* is either non-numeric or a negative number; *page* is something other than a non-negative number or the words 'first' or 'last'
        '404':
          description: No proteins that satisfied the criteria were found. This usually means that there are no proteins with UniprotKB names that start with the string specified in the *starts_with* parameter.
        '5XX':
          description: Unexpected error
  /protein/{id}:
    get:
      operationId: protein_detail_get
      summary: Return detailed information on a protein specified by a UniProtKB identifier.
      parameters:
        - name: id
          in: path
          required: true
          description: Case-insensitive UniProtKB identifier
          schema:
            type: string
            example: Q13201
      responses:
        '200':
          description: detailed information on the protein specified by a UniProtKB identifier.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProteinDetailResponse'
        '404':
          description: No information for protein with UniProtKB identifier *id*.
        '5XX':
          description: Unexpected error
  /celltypes:
    get:
      operationId: celltype_list_get
      summary: Return high-level information on a set of cell types specified by pagination parameters.
      parameters:
        - name: page
          in: query
          required: false
          description: Offset set of genes of count=celltypesperpage. Can be a non-negative number or the words "first" or "last".
          schema:
            type: string
            default: 1
          example: 1
        - name: celltypesperpage
          in: query
          required: false
          description: Number of cell types per "page" to return. Can be a nonzero number.
          schema:
            type: string
            default: 10
        - name: starts_with
          in: query
          required: false
          description: Optional *case-insensitive* string by which to filter by cell type name.
          schema:
            type: string
            example: E
      responses:
        '200':
          description: high-level information on cell types specified by Cell Ontology.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CellTypeListResponse'
        '400':
          description: Invalid parameter--e.g., *celltypesperpage* is either non-numeric or a negative number; *page* is something other than a non-negative number or the words 'first' or 'last'
        '404':
          description: No cell types that satisfied the criteria were found. This usually means that there are no cell types with names that start with the string specified in the *starts_with* parameter.
        '5XX':
          description: Unexpected error
  /celltype/{id}:
    get:
      operationId: celltype_detail_get
      summary: Return detailed information on a cell type specified by a name.
      parameters:
        - name: id
          in: path
          required: true
          description: case-insensitive Cell Ontology identifier in format CL{id}
          schema:
            type: string
            example: CL0002138
      responses:
        '200':
          description: detailed information on the cell type specified by a Cell Ontology identifier.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CellTypeDetailResponse'
        '404':
          description: No information for cell type with identifier *id*.
        '5XX':
          description: Unexpected error
  /field_descriptions:
    get:
      operationId: field_descriptions_get
      summary: Return descriptions for ingest metadata fields. Replacement for field_descriptions.yaml.
      responses:
        '200':
          description: Ingest metadata fields and descriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldDescriptionsResponse'
        '5XX':
          description: Unexpected error
  /field_types:
    get:
      operationId: field_types_get
      summary: Return data types for ingest metadata fields. Replacement for field_types.yaml.
      responses:
        '200':
          description: Ingest metadata fields mapped to XSD data types.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldTypesResponse'
        '5XX':
          description: Unexpected error
  /field_entities:
    get:
      operationId: field_entities_get
      summary: Return associations between ingest metadata fields and the provenance entities of an application. Replacement for field_types.yaml.
      parameters:
        - name: application_context
          in: query
          required: true
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: Associations between ingest metadata fields and application-specific provenance entities.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldEntitiesResponse'
        '400':
          description: missing application context
        '5XX':
          description: Unexpected error
  /field_assays:
    get:
      operationId: field_assays_get
      summary: Return associations between ingest metadata fields and the "assays" (dataset data types) for an application. Replacement for field_assays.yaml.
      parameters:
        - name: application_context
          in: query
          required: true
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: Associations between ingest metadata fields and application-specific assays/dataset types.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldAssaysResponse'
        '400':
          description: missing application context
        '5XX':
          description: Unexpected error
  /field_schemas:
    get:
      operationId: field_schemas_get
      summary: Return associations between ingest metadata fields and metadata schemas for an application. Replacement for field_schemas.yaml.
      parameters:
        - name: application_context
          in: query
          required: true
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: Associations between ingest metadata fields and application-specific metadata schemas.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldSchemasResponse'
        '400':
          description: missing application context
        '5XX':
          description: Unexpected error
components:
  schemas:
    AssayTypePropertyInfo:
      type: object
      description: Properties of a HuBMAP/SenNet AssayType.
      properties:
        name:
          type: string
          description: AssayType name; used to characterize dataset entities in provenance hierarchy
          example: bulk-RNA
        primary:
          type: boolean
          description: Indicates whether the assay is primary (true) or derived (false)
          example: true
        description:
          type: string
          description: How datasets of the data type are named in the Data Portal.
          example: Bulk RNA-seq
        vitessce-hints:
          type: array
          description: Flags for Vitessce visualization
          items:
            type: string
            example: ["pyramid","anndata","is_image","is_tiled","is_sc","rna","atac","sprm","codex","maldi"]
        contains-pii:
          type: boolean
          description: Whether the dataset contains Patient Identifying Information (PII) (true or false)
          example: true
        vis-only:
          type: boolean
          description: Indicates whether for visualization only (true or false)
          items:
            type: boolean
            example: true
    DatasetPropertyInfo: # Schema name JAS FEB 2023. Note that GET parameters use underscores, even when the corresponding key in the response uses dashes--e.g., alt_names, alt-names.
      type: object
      description: Properties of a HuBMAP/SenNet Dataset. Where applicable, key names match those found in the original assay_types.yaml.
      properties:
        alt-names:
          type: array
          description: Alternative/deprecated synonyms of data_type that may still be associated with dataset entities
          items:
            type: string
          example: [ "MALDI-IMS-pos", "MALDI-IMS-neg" ]
        contains-pii:
          type: string
          description: Whether the dataset contains Patient Identifying Information (PII)
          example: true
        data_type:
          type: string
          description: Data type for the dataset; used to characterize dataset entities in provenance hierarchy
          example: bulk-RNA
        dataset_provider:
          type: string
          description: Identifies the provider of the dataset. 'External Provider' also referred to as 'lab-processed'.
          example: HuBMAP IEC
        description:
          type: string
          description: How datasets of the data type are named in the Data Portal.
          example: Bulk RNA-seq
        primary:
          type: string
          description: Indicates whether the assay is primary (true) or derived (false)
          example: true
        vis-only:
          type: string
          description: Indicates whether for visualization only
          items:
            type: string
            example: true
        vitessce-hints:
          type: array
          description: Flags for Vitessce visualization
          items:
            type: string
            example: ["pyramid","anndata","is_image","is_tiled","is_sc","rna","atac","sprm","codex","maldi"]
          example: Microscopy
    RuiCodeTerm:
      type: object
      description: Respoonse body for organs/by-code GET request
      properties:
        rui_code:
          type: string
          description: Two letter organ code
          example: "UT"
        term:
          type: string
          description: Organ type
          example: "Uterus"
    SabCodeTermRuiCode:
      type: object
      description: Response body for organs GET request
      properties:
        sab:
          type: string
          description: Source abbreviation
          example: "HUBMAP"
        term:
          type: string
          description: Organ type
          example: "Uterus"
        code:
          type: string
          description: The identifier for a concept in a vocabulary or ontology in the UMLS. A code is unique to the ontology.
          example: "C030081"
        rui_code:
          type: string
          description: Two letter organ code
          example: "UT"
        organ_uberon:
          type: string
          description: UBERON code
        organ_cui:
          type: string
          description: The organ CUI
    HGNCIdRelationships:
      type: object
      description: Response Body for relationships/hgnc-id/{id} GET request
      properties:
        symbol-approved:
          description: HGNC data Approved Symbols, but should only be one
          type: array
          items:
            type: string
            example: ["MMRN1"]
        symbol-previous:
          description: HGNC data Previous Symbols
          type: array
          items:
            type: string
            example: ["MMRN"]
        symbol-alias:
          description: HGNC data Alias Symbols
          type: array
          items:
            type: string
            example: ["EMILIN4", "GPIa*", "ECM"]
    SabCodeTerm: # Schema name
      type: object
      properties:
        sab:
          type: string
          example: NCI
        code:
          type: string
          example: C16853
        term:
          type: string
          example: Microscopy
    AssayNameRequest: # Schema name CPK MR 2023.
      type: object
      description: Request body for assaytype POST request
      properties:
        name:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: AssayType name which can be a string or an array of strings
          example: [ PAS, Image Pyramid ]
        application_context:
          type: string
          default: HUBMAP
          enum:
            - HUBMAP
            - SENNET
            - hubmap
            - sennet
            - HuBMAP
            - SenNet
    GeneListResponse:
      type: object
      description: High-level information on a set of genes requested by the genes endpoint.
      properties:
        genes:
          type: array
          description: gene information
          items:
            type: object
            properties:
              approved_name:
                type: string
                description: HGNC approved name
                example: multimerin 1
              approved_symbol:
                type: string
                description: HGNC approved symbol
                example: MMRN1
              summary:
                type: string
                description: RefSeq summary for the gene
                example: Multimerin is a massive, soluble protein found in....
        genes_per_page:
          type: number
          description: value of genesperpage parameter from the gene_list endpoint
          example: 3
        page:
          type: number
          description: value of page parameter from the gene_list endpoint
          example: 1
        total_pages:
          type: number
          description: total number of "pages" based on the values of genesperpage and the total number of genes
          example: 14381
        starts_with:
          type: string
          description: value of starts_with from the gene_list endpoint
          example: M
        gene_count:
          type: number
          description: Count of genes. If starts_with is non-null, the count is that of the genes with approved HGNC symbols that start with the value of starts_with.
          example: 500
    GeneDetailResponse: # JAS Sept 2023
      type: object
      description: Detailed information on a gene requested by the gene endpoint
      properties:
        alias_names:
          type: array
          description: HGNC alias names
          items:
            type: string
          example: [glycoprotein Ia*]
        alias_symbols:
          type: array
          description: HGNC alias symbols
          items:
            type: string
          example: [GPIa*,EMILIN4,ECM]
        approved_name:
          type: string
          description: HGNC approved name
          example: multimerin 1
        approved_symbol:
          type: string
          description: HGNC approved symbol
          example: MMRN1
        cell_types:
          type: array
          description: Cell Ontology cell types associated with a HGNC gene in the Human Referene Atlas (HRA)
          items:
            type: object
            properties:
              definition:
                type: string
                description: Definition of the cell type from Cell Ontology
                example: A endothelial cell of a lymphatic ....
              id:
                type: string
                description: Identifier for the cell type, in format CL<colon>code
                example: CL:0002138
              name:
                type: string
                description: Name (preferred term) for the cell type from Cell Ontology
                example: endothelial cell of lymphatic vessel
              organs:
                type: array
                description: Array of organs associated with the cell type, based on relationships in the Human Resource Atlas and Azimuth
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Identifier (code) for the organ in source
                      example: 0000948
                    source:
                      type: string
                      description: Source vocabulary for id for organ
                      example: UBERON
                    name:
                      type: string
                      description: Name (preferred term) for organ in source
                      example: heart
              sources:
                type: array
                description: Array of identifiers of sources for the association of the cell type to the gene
                items:
                  type: string
                  example: Human Reference Atlas
        hgnc_id:
          type: number
          description: numeric HGNC ID for the gene
          example: 60
        previous_names:
          type: array
          description: previous names for the gene in HGNC
          items:
            type: string
          example: [multimerin]
        previous_symbols:
          type: array
          description: previous symbols for the gene in HGNC
          items:
            type: string
            example: [MMRN]
        references:
          type: array
          description: Reference for the gene between HGNC and other vocabularies. References can be either a cross-reference (e.g., between HGNC ID and NCBI Entrez ID) or from a known relationship (e.g., gene-protein relationships between a gene in HGNC and a protein in UniProtKB).
          items:
            type: object
            properties:
              id:
                type: string
                description: ID (code) for the reference in the source
                example: 22915
              source:
                type: string
                description: source vocabulary for the reference
                example: entrez
              url:
                type: string
                description: URL to reference site
                example: https://www.ncbi.nlm.nih.gov/gene/22915
        summary:
          type: string
          description: RefSeq summary of the gene
          example: Multimerin is a massive, soluble protein found in....
    ProteinListResponse:
      type: object
      description: High-level list of proteins with pagination details, requested by the proteins endpoint.
      properties:
        proteins:
          type: array
          description: protein information
          items:
            type: object
            properties:
              id:
                type: string
                description: UniProtKB identifier
                example: Q13201
              entry_name:
                type: string
                description: UniProtKB Entry Name
                example: MMRN1_HUMAN
              recommended_name:
                type: string
                description: UniProtKB Recommended Name
                example: multimerin-1
        proteins_per_page:
          type: number
          description: value of proteinsperpage parameter from the proteins endpoint
          example: 3
        page:
          type: number
          description: value of page parameter from the proteins endpoint
          example: 1
        total_pages:
          type: number
          description: total number of "pages" based on the values of proteinsperpage and the total number of proteins
          example: 14381
        starts_with:
          type: string
          description: value of starts_with from the proteins endpoint
          example: M
        protein_count:
          type: number
          description: Count of proteins. If starts_with is non-null, the count is that of the proteins with names that start with the value of starts_with.
          example: 500
    ProteinDetailResponse:
      type: object
      description: Detailed information on a protein requested by the protein endpoint
      properties:
        id:
          type: string
          description: UniProtKB identifier
          example: Q13201
        entry_name:
          type: string
          description: UniProtKB Entry Name
          example: MMRN1_HUMAN
        recommended_name:
          type: string
          description: UniProtKB Recommended Name
          example: multimerin-1
        synonyms:
          type: array
          description: alternative names
          items:
            type: string
          example: [EMILIN-4,Elastin microfibril interface located protein 4 (Elastin microfibril interfacer 4),Endothelial cell multimerin]
        references:
          type: array
          description: Array of links to protein databases
          items:
            type: object
            properties:
              source:
                type: string
                description: protein database name
                example: uniprotkb
              entry:
                type: string
                description: description of protein in source--e.g., the "function" in UniProtKB
                example: Carrier protein for platelet (but not plasma) factor V/Va. Plays a role…
              url:
                type: string
                description: URL to reference site
                example: https://www.ncbi.nlm.nih.gov/gene/22915
              curation:
                type: string
                description: method of curation
                enum:
                  - swissprot
                  - trembl
        organisms:
          type: array
          description: array of relevant organism, named in binomial nomenclature
          items:
            type: string
            example: [Homo sapiens]
    CellTypeListResponse:
      type: object
      description: High-level list of cell types with pagination details, requested by the celltypes endpoint.
      properties:
        proteins:
          type: array
          description: cell type information
          items:
            type: object
            properties:
              id:
                type: string
                description: Cell Ontology code
                example: CL:0002138
              name:
                type: string
                description: Preferred term for the cell type from Cell Ontology
                example: endothelial cell of lymphatic vessel
              definition:
                type: string
                description: Definition of the cell type from Cell Ontology
                example: A endothelial cell of a lymphatic vessel. The border of…
        celltypes_per_page:
          type: number
          description: value of celltypesperpage parameter from the celltypes endpoint
          example: 3
        page:
          type: number
          description: value of page parameter from the celltypes endpoint
          example: 1
        total_pages:
          type: number
          description: total number of "pages" based on the values of celltypesperpage and the total number of celltypes
          example: 14381
        starts_with:
          type: string
          description: value of starts_with from the celltypes endpoint
          example: E
        cell_type_count:
          type: number
          description: Count of cell types. If starts_with is non-null, the count is that of the cell types with names that start with the value of starts_with.
          example: 500
    CellTypeDetailResponse:
      type: object
      description: Detailed information on a cell type requested by the celltype endpoint
      properties:
        id:
          type: string
          description: Cell Ontology code
          example: CL:0002138
        name:
          type: string
          description: Preferred term for the cell type from Cell Ontology
          example: endothelial cell of lymphatic vessel
        definition:
          type: string
          description: Definition of the cell type from Cell Ontology
          example: A endothelial cell of a lymphatic vessel. The border of…
        biomarkers:
          type: array
          description: Array of biomarkers associated with the cell type
          items:
            type: object
            properties:
              reference:
                type: string
                description: source for association between cell type and biomarker
                enum:
                  - Human Reference Atlas
                  - Cells
              biomarker_type:
                type: string
                description: type of biomarker
                enum:
                  - gene
                  - protein
                  - lipid
                  - metabolite
              entry:
                type: object
                description: Encoded entry in reference
                properties:
                  vocabulary:
                    type: string
                    description: vocabulary for entry
                    example: hgnc
                  id:
                    type: string
                    description: identifier for entry in vocabulary
                    example: 7178
                  symbol:
                    type: string
                    description: symbol for entry in vocabulary
                    example: MMRN1
                  name:
                    type: string
                    description: preferred term for entry in vocabulary
                    example: multimerin-1
        organs:
          type: array
          description: Organs associated with the cell type, based on relationships in the Human Resource Atlas and Azimuth
          items:
            type: object
            properties:
              id:
                type: string
                description: Identifier (code) for the organ in source
                example: 0000948
              source:
                type: string
                description: Source vocabulary for id for organ
                example: UBERON
              name:
                type: string
                description: Name (preferred term) for organ in source
                example: heart
    FieldDescriptionsResponse:
      type: object
      description: Descriptions ingest metadata fields from legacy field_descriptions.yaml
      properties:
        fields:
          type: array
          description: array of fields and their descriptions
          items:
            type: object
            properties:
              codeID:
                type: string
                description: Code in the HMFIELD ontology
                example: HMFIELD:1001
              identifier:
                type: string
                description: identifier for metadata field
                example: ablation_distance_between_shots_x_units
              description:
                type: string
                description: description of field
                example: Units of x resolution distance between laser ablation shots.
    FieldTypesResponse:
      type: object
      description: Associations between metadata field and data type ingest metadata fields from legacy field_types.yaml
      properties:
        fields:
          type: array
          description: array of fields and their data types
          items:
            type: object
            properties:
              codeID:
                type: string
                description: Code in the HMFIELD ontology
                example: HMFIELD:1001
              identifier:
                type: string
                description: identifier for metadata field
                example: ablation_distance_between_shots_x_units
              type:
                type: object
                properties:
                  XSDCode:
                    type: string
                    description: Code in XSD
                    example: xsd:string
                  name:
                    type: string
                    description: name for type
                    example: string
    FieldEntitiesResponse:
      type: object
      description: Associations between fields and provenance entities for ingest metadata fields from legacy field_types.yaml
      properties:
        fields:
          type: array
          description: array of fields, each with its associated provenance entities
          items:
            type: object
            properties:
              codeID:
                type: string
                description: Code in the HMFIELD ontology
                example: HMFIELD:1001
              identifier:
                type: string
                description: identifier for metadata field
                example: ablation_distance_between_shots_x_units
              entities:
                type: array
                description: array of provenance entities associated with the field
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      description: Code in application ontology
                      example: HUBMAP:C040001
                    name:
                      type: string
                      description: name
                      example: dataset
    FieldAssaysResponse:
      type: object
      description: Associations between fields and "assays" (dataset types) for ingest metadata fields from legacy field_assays.yaml
      properties:
        fields:
          type: array
          description: array of fields, each with its associated assays/dataset types
          items:
            type: object
            properties:
              codeID:
                type: string
                description: Code in the HMFIELD ontology
                example: HMFIELD:1001
              identifier:
                type: string
                description: identifier for metadata field
                example: ablation_distance_between_shots_x_units
              assays:
                type: array
                description: array of "assays" (dataset types) associated with the field
                items:
                  type: object
                  properties:
                    data_type:
                      type: object
                      description: The data_type for the assay/dataset type--i.e., the key for ingest workflows
                      properties:
                        code:
                          type: string
                          description: Code in application ontology
                          example: HUBMAP:C006904
                        name:
                          type: string
                          description: the data_type string used in ingest workflows
                          example: IMC
                    display_name:
                      type: string
                      description: The display name for the assay/dataset type in the Portal UI
                      example: Imaging Mass Cytometry (2D)
                    alt-names:
                      type: array
                      description: The set of alt-names (synonyms for data_type) for the assay/dataset type
                      items:
                        type: string
                        example: [Imaging Mass Cytometry,2D-IMC,IMC]
    FieldSchemasResponse:
      type: object
      description: Associations between fields and metadata schemas for ingest metadata fields from legacy field_schemas.yaml
      properties:
        fields:
          type: array
          description: array of fields, each with its associated schemas
          items:
            type: object
            properties:
              codeID:
                type: string
                description: Code in the HMFIELD ontology
                example: HMFIELD:1001
              identifier:
                type: string
                description: identifier for metadata field
                example: ablation_distance_between_shots_x_units
              schemas:
                type: array
                description: array of metadata schemas associated with the field
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      description: Code in HMFIELD ontology
                      example: HMFIELD:1001
                    name:
                      type: string
                      description: name
                      example: imc3d