openapi: 3.0.3
info:
  title: HuBMAP/SenNet Ontology API (hs-ontology-api)
  description: The HuBMAP/SenNet Ontology API contains endpoints for querying a [UBKG](https://ubkg.docs.xconsortia.org/) instance with content from the [HuBMAP/SenNet context](https://ubkg.docs.xconsortia.org/contexts/#hubmapsennet-context). The hs-ontology-api imports the [ubkg-api](https://smart-api.info/ui/96e5b5c0b0efeef5b93ea98ac2794837), which encapsulates both basic connectivity to a UBKG instance and generic endpoint code. To prevent exceeding service timeouts or payload limits, some endpoints are throttled in both execution time and in the size of its response payload--e.g., to a maximum execution time of 29 seconds and a maximum payload of 9.9 MB.
  version: 2.2.7
  contact:
    name: GitHub repository
    url: https://github.com/x-atlas-consortia/hs-ontology-api
servers:
  - url: https://ontology.api.hubmapconsortium.org/
    description: Production server
tags:
  - name: assay classifications
    description: assay classifications used by the database ingestion assay classifier
  - name: dataset types
    description: dataset types used by the database ingestion assay classifier
  - name: organs
    description: organ definitions used in the Registration User Interface (RUI)
  - name: biological entities
    description: genes, proteins, and cell types described in the Data Portal
  - name: cell type annotations
    description: cell type annotations as described in the Human Reference Atlas
  - name: ingestion metadata
    description: metadata related to dataset ingestion; includes some legacy pre-CEDAR metadata
  - name: pathways
    description: information related to pathway data obtained from REACTOME
  - name: other
    description: not otherwise specified endpoints
paths:
  /assayclasses:
    get:
      operationId: assayclass_get
      summary: REPLACEMENT for datasets endpoint. Returns metadata on "assay classes"--the rule-based classifications of datasets managed by the Rules Engine. An assay class describes characteristics that are common to all datasets that are processed with a particular workflow.
      parameters:
        - name: application_context
          in: query
          required: true
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
        - name: process_state
          in: query
          required: false
          description: optional filter to only assay classes that correspond to a particular process state
          schema:
            type: string
            enum:
              - primary
              - derived
              - epic
        - name: assaytype
          in: query
          required: false
          description: optional filter to a particular assaytype. Multiple assay classes can have the same assaytype.
          schema:
            type: string
            example: AF
        - name: provide-hierarchy-info
          in: query
          required: false
          description: optional response filter - if true, then the response will contain hierarchy information for the dataset type. The default is blank, or false.
          schema:
            type: string
      responses:
        '200':
          description: A JSON array of assay classification objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssayClass'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No assay classes matching parameters.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unknown error
      tags:
        - assay classifications
  /assayclasses/{class}:
    get:
      operationId: assayclass_name_get
      summary: REPLACEMENT for datasets endpoint. Returns metadata on the specified "assay class"--the rule-based classification of a dataset managed by the Rules Engine. An assay class describes characteristics that are common to all datasets that are processed with a particular workflow.
      parameters:
        - name: class
          in: path
          required: true
          description: An identifier for an assay class. Can be EITHER the string that corresponds to the "rule_description" key in the testing_rules_chain.json file (e.g., "non-DCWG primary AF") OR the code from the UBKG for the assay class (e.g., "C200001"). Note that HUBMAP and SENNET have equivalent codes for each assay class for which the SAB differs--e.g., the "non-DCWG primary AF" assay class has full code "HUBMAP:C200001" in HUBMAP and "SENNET:C200001" in SENNET. If using the code, do not include the application context (HUBMAP or SENNET).
          schema:
            type: string
            example: non-DCWG primary AF
        - name: application_context
          in: query
          required: true
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
        - name: process_state
          in: query
          required: false
          description: optional filter to only assay classes that correspond to a particular process state
          schema:
            type: string
            enum:
              - primary
              - derived
              - epic
        - name: provide-hierarchy-info
          in: query
          required: false
          description: optional response filter - if true, then the response will contain hierarchy information for the dataset type. The default is blank, or false.
          schema:
            type: string
      responses:
        '200':
          description: An assay classification objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssayClass'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No assay classes matching parameters.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unknown error
      tags:
        - assay classifications
  /dataset-types:
    get:
      operationId: datasettypes_get
      summary: Returns metadata on the new "soft assay" dataset types.
      parameters:
        - name: application_context
          in: query
          required: true
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
        - name: is_externally_processed
          in: query
          required: false
          description: filter on whether dataset types are for EPIC datasets
          schema:
            type: string
            enum:
              - true
              - false
      responses:
        '200':
          description: A JSON array of dataset type objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetType'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No dataset types matching parameters.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unknown error
      tags:
        - dataset types
  /dataset-types/{name}:
    get:
      operationId: datasettypes_name_get
      summary: Returns metadata on the specified "soft assay" dataset type.
      parameters:
        - name: name
          in: path
          required: true
          description: A dataset_type
          schema:
            type: string
            example: 2D Imaging Mass Cytometry
        - name: application_context
          in: query
          required: true
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
        - name: is_externally_processed
          in: query
          required: false
          description: filter on whether dataset types are for EPIC datasets
          schema:
            type: string
            enum:
              - true
              - false
      responses:
        '200':
          description: A dataset type object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetType'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No dataset types matching parameters.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unknown error
      tags:
        - dataset types
  /organs:
    get:
      operationId: get_organ_types
      summary: Returns information used to support the Registration User Interface (RUI), including the 2-character RUI code and corresponding details from the UBERON and application (HUBMAP or SENNET) ontologies.
      parameters:
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of the organ types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SabCodeTermRuiCode'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No organs matching parameters.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unknown error
      tags:
        - organs
  /organs/by-code:
    get:
      operationId: get_organ_by_code
      summary: Returns term by 2 letter organ code
      parameters:
        - name: application_context
          in: query
          required: false
          description: Filter to indicate application context
          schema:
            type: string
            default: HUBMAP
            enum:
              - HUBMAP
              - SENNET
              - hubmap
              - sennet
              - HuBMAP
              - SenNet
      responses:
        '200':
          description: A JSON array of term by 2 letter organ code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RuiCodeTerm'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No organs matching parameters.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unknown error
      tags:
        - organs
  /relationships/gene/{target_symbol}:
    get:
      operationId: relationships_for_gene_target_symbol_get
      summary: Returns relationships associated with the gene
      parameters:
        - name: target_symbol
          in: path
          required: true
          description: one of gene name, symbol, alias, or prior symbol
          schema:
            type: string
            example: MMRN1
      responses:
        '200':
          description: A JSON array of the HGNCIdRelationships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HGNCIdRelationships'
              example:
                symbol-approved: ["MMRN1"]
                symbol-previous: ["MMRN"]
                symbol-alias: ["EMILIN4", "GPIa*", "ECM"]
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: Nothing found for gene target symbol *target_symbol*.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unknown error
      tags:
        - other
  /valueset:
    get:
      operationId: valueset_get
      summary: Returns a valueset of concepts that are children (have as isa relationship) of another concept.
      parameters:
        - name: parent_sab
          in: query
          required: true
          description: the SAB of the parent concept
          schema:
            type: string
            example: HUBMAP
        - name: parent_code
          in: query
          required: true
          description: the code of the parent concept in the SAB (local ontology)
          schema:
            type: string
            example: C003041
        - name: child_sabs
          in: query
          required: true
          description: the list of SABs for child concepts, in order of preference (in case of parent concepts with cross-references)
          schema:
            type: array
            uniqueItems: true
            items:
              type: string
              example: HUBMAP,SNOMEDCT_US
            default: [ ]
      responses:
        '200':
          description: A JSON array of preferred terms for child codes that have an isa relationship with the parent code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SabCodeTerm'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No valuesets found for specified parameters.
        '504':
          description: The query run time exceeded the specified timeout.
      tags:
        - other
  /genes-info:
    get:
      operationId: genes_info_get
      summary: Return high-level information on a set of genes specified by pagination request parameters.
      parameters:
        - name: page
          in: query
          required: false
          description: Offset set of genes of count=genes_per_page. Can be a non-negative number or the words "first" or "last".
          schema:
            type: string
            default: 1
          example: 1
        - name: genes_per_page
          in: query
          required: false
          description: Number of genes per "page" to return. Can be a nonzero number.
          schema:
            type: string
            default: 10
        - name: starts_with
          in: query
          required: false
          description: Optional string by which to filter by gene symbol.
          schema:
            type: string
            example: M
      responses:
        '200':
          description: high-level information on genes specified by HGNC identifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneListResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter--e.g., *genes_per_page* is either non-numeric or a negative number; *page* is something other than a non-negative number or the words 'first' or 'last'
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No genes that satisfied the criteria were found. This usually means that there are no genes with HGNC approved symbols that start with the string specified in the *starts_with* parameter.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - biological entities
  /genes/{ids}:
    get:
      operationId: genes_get
      summary: Return reference information on a gene specified by a HGNC identifier.
      parameters:
        - name: ids
          in: path
          required: true
          description: a case-sensitive, comma-delimited list of HGNC identifiers. An identifier can be an approved ID (e.g., 7178); approved symbol (e.g., MMRN1); alias (e.g., EMILIN4 for MMRN1); previous symbol (e.g., MMRN for MMRN1); previous alias; or a name string (approved, previous, alias--e.g., "multimerin 1").
          schema:
            type: string
            example: MMRN1
      responses:
        '200':
          description: detailed information on the gene specified by a HGNC identifier.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No information for gene with HGNC identifier *id*.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - biological entities
  /genes/{ids}/detail:
    get:
      operationId: genes_detail_get
      summary: Return detailed information on a gene specified by a HGNC identifier, inclduing cell type annotation information.
      parameters:
        - name: ids
          in: path
          required: true
          description: a case-sensitive, comma-delimited list of HGNC identifiers. An identifier can be an approved ID (e.g., 7178); approved symbol (e.g., MMRN1); alias (e.g., EMILIN4 for MMRN1); previous symbol (e.g., MMRN for MMRN1); previous alias; or a name string (approved, previous, alias--e.g., "multimerin 1").
          schema:
            type: string
            example: MMRN1
      responses:
        '200':
          description: detailed information on the gene specified by a HGNC identifier.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneDetailResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No information for gene with HGNC identifier *id*.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - biological entities
        - cell type annotations
  /proteins-info:
    get:
      operationId: protein_info_get
      summary: Return high-level information on a set of proteins specified by pagination request parameters.
      parameters:
        - name: page
          in: query
          required: false
          description: Offset set of proteins of count=proteins_per_page. Can be a non-negative number or the words "first" or "last".
          schema:
            type: string
            default: 1
          example: 1
        - name: proteins_per_page
          in: query
          required: false
          description: Number of proteins per "page" to return. Can be a nonzero number.
          schema:
            type: string
            default: 10
        - name: starts_with
          in: query
          required: false
          description: Optional *case-insensitive* string by which to filter by UniProtKB recommended name or entry name
          schema:
            type: string
            example: M
      responses:
        '200':
          description: high-level information on proteins specified by UniProtKB identifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProteinListResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter--e.g., *proteins_per_page* is either non-numeric or a negative number; *page* is something other than a non-negative number or the words 'first' or 'last'
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No proteins that satisfied the criteria were found. This usually means that there are no proteins with UniprotKB identifiers that start with the string specified in the *starts_with* parameter.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - biological entities
  /proteins/{id}:
    get:
      operationId: proteins_get
      summary: Return detailed information on a protein specified by a UniProtKB identifier.
      parameters:
        - name: id
          in: path
          required: true
          description: Case-insensitive UniProtKB identifier. Identifiers are either UniProtKB IDs (e.g., Q13201) or entry names (e.g., MMRN1_HUMAN).
          schema:
            type: string
            example: Q13201
      responses:
        '200':
          description: detailed information on the protein specified by a UniProtKB identifier.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProteinDetailResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No information for protein with UniProtKB identifier *id*.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - biological entities
  /celltypes-info:
    get:
      operationId: celltypes_info_get
      summary: Return high-level information on a set of cell types specified by pagination request parameters.
      parameters:
        - name: page
          in: query
          required: false
          description: Offset set of genes of count=celltypes_per_page. Can be a non-negative number or the words "first" or "last".
          schema:
            type: string
            default: 1
          example: 1
        - name: celltypes_per_page
          in: query
          required: false
          description: Number of cell types per "page" to return. Can be a nonzero number.
          schema:
            type: string
            default: 10
        - name: starts_with
          in: query
          required: false
          description: Optional *case-insensitive* string by which to filter by cell type name.
          schema:
            type: string
            example: E
      responses:
        '200':
          description: high-level information on cell types specified by Cell Ontology.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CellTypeListResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter--e.g., *celltypes_per_page* is either non-numeric or a negative number; *page* is something other than a non-negative number or the words 'first' or 'last'
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No cell types that satisfied the criteria were found. This usually means that there are no cell types with names that start with the string specified in the *starts_with* parameter.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - biological entities
  /celltypes/{ids}:
    get:
      operationId: celltypes_get
      summary: Return reference information on a cell type specified by an identifier (Cell Ontology ID).
      parameters:
        - name: ids
          in: path
          required: true
          description: case-insensitive, comma-delimited list of text Cell Ontology identifiers. If the identifer is numeric, it is treated as a CL ID; otherwise, it is treated as a search term corresponding to a preferred term.
          schema:
            type: string
            example: 0002138,fibroblast
      responses:
        '200':
          description: detailed information on the cell type specified by a Cell Ontology identifier.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CellTypeResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No information for cell type with Cell Ontology identifier *id*.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - biological entities
  /celltypes/{ids}/detail:
    get:
      operationId: celltypes_detail_get
      summary: Return detailed information on a cell type specified by an identifier (Cell Ontology ID), including cell type annotation information.
      parameters:
        - name: ids
          in: path
          required: true
          description: case-insensitive, comma-delimited list of text Cell Ontology identifiers. If the identifer is numeric, it is treated as a CL ID; otherwise, it is treated as a search term corresponding to a preferred term.
          schema:
            type: string
            example: 0002138,fibroblast
      responses:
        '200':
          description: detailed information on the cell type specified by a Cell Ontology identifier.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CellTypeDetailResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No information for cell type with Cell Ontology identifier *id*.
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - cell type annotations
        - biological entities
  /annotations:
    get:
      operationId: annotations_get
      summary: Returns information on a specified cell type annotation ontology
      parameters:
        - name: sab
          in: query
          required: true
          description: case-insensitive SAB for a cell type annotation
          schema:
            type: string
            example: vccf
      responses:
        '200':
          description: Array of cell type annotations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No annotations (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - cell type annotations
  /annotations/{ids}:
    get:
      operationId: annotations_id_get
      summary: Returns information on a specified set of cell types in an annotation ontology
      parameters:
        - name: ids
          in: path
          required: true
          description: case-insensitive, comma-delimited list of cell type annotation identifiers. If a numeric string, an id is considered a annotation ID; otherwise, the string is used as a search term
          schema:
            type: string
            example: 0000001,Arterial Endothelial
        - name: sab
          in: query
          required: true
          description: case-insensitive SAB for a cell type annotation
          schema:
            type: string
            example: vccf
      responses:
        '200':
          description: Array of cell type annotations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No annotations (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - cell type annotations
  /annotations/organ-levels:
    get:
      operationId: annotations_organ_levels_get
      summary: Returns information on the "organ level" codes of cell type annotations
      parameters:
        - name: sab
          in: query
          required: false
          description: case-insensitive SAB for a cell type annotation
          schema:
            type: string
            example: vccf
      responses:
        '200':
          description: Array of cell type annotation organ levels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationOrganLevelResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No annotation organ levels (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - cell type annotations
  /annotations/{ids}/organ-levels:
    get:
      operationId: annotations_organ_levels_id_get
      summary: Returns information on the "organ level" codes of specified cell type annotations
      parameters:
        - name: ids
          in: path
          required: true
          description: comma-delimited list of cell type annotation organ level identifiers. If a numeric string, an id is considered a organ level ID; otherwise, the string is used as a search term
          schema:
            type: string
            example: 1000001,heart
        - name: sab
          in: query
          required: false
          description: case-insensitive SAB for a cell type annotation
          schema:
            type: string
            example: vccf
      responses:
        '200':
          description: Array of cell type annotation organ levels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationOrganLevelResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No annotation organ levels (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - cell type annotations
  /annotations/organs:
    get:
      operationId: annotations_organs_get
      summary: Returns information on specified organs related to cell type annotations
      parameters:
        - name: sab
          in: query
          required: false
          description: case-insensitive SAB for a cell type annotation
          schema:
            type: string
            example: vccf
      responses:
        '200':
          description: Array of cell type annotation organs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationOrganResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No annotation organs (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - cell type annotations
  /annotations/{ids}/organs:
    get:
      operationId: annotations_organs_id_get
      summary: Returns information on organs related to cell type annotations
      parameters:
        - name: ids
          in: path
          required: true
          description: comma-delimited list of cell type annotation organ level identifiers. If a numeric string, an id is considered a UBERON ID; otherwise, the string is used as a search term
          schema:
            type: string
            example: heart
        - name: sab
          in: query
          required: false
          description: case-insensitive SAB for a cell type annotation
          schema:
            type: string
            example: vccf
      responses:
        '200':
          description: Array of cell type annotation organs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationOrganResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No annotation organs (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - cell type annotations
  /field-descriptions:
    get:
      operationId: field_descriptions_get
      summary: Returns descriptions for ingest metadata fields. Replacement for field-descriptions.yaml.
      parameters:
        - name: source
          in: query
          required: false
          description: case-insensitive name of the description source (HMFIELD = legacy field-descriptions.yaml; CEDAR = CEDAR)
          schema:
            type: string
            enum:
              - HMFIELD
              - CEDAR
      responses:
        '200':
          description: Array of ingest metadata fields with descriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDescriptionsResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid *source* parameter (i.e., not CEDAR or HMFIELD); invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No field descriptions (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /field-descriptions/{name}:
    get:
      operationId: field_descriptions_name_get
      summary: Returns descriptions for the specified ingest metadata field. Replacement for field-descriptions.yaml.
      parameters:
        - name: name
          in: path
          required: true
          description: name of the metadata field
          schema:
            type: string
            example: ablation_distance_between_shots_x_units
        - name: source
          in: query
          required: false
          description: case-insensitive name of the description source (HMFIELD = legacy field-descriptions.yaml; CEDAR = CEDAR)
          schema:
            type: string
            enum:
              - HMFIELD
              - CEDAR
      responses:
        '200':
          description: Descriptions for single ingest metadata field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldDescriptionsResponseSingle'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid *source* parameter (i.e., not CEDAR or HMFIELD); invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No descriptions (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /field-types:
    get:
      operationId: field_types_get
      summary: Return data types for ingest metadata fields. Replacement for field-types.yaml.
      parameters:
        - name: mapping_source
          in: query
          required: false
          description: case-insensitive name of the field-to-type mapping source (HMFIELD = field-types.yaml; CEDAR = CEDAR)
          schema:
            type: string
            enum:
              - HMFIELD
              - CEDAR
        - name: type_source
          in: query
          required: false
          description: case-insensitive name of the type source (HMFIELD = field-types.yaml; XSD = from CEDAR template)
          schema:
            type: string
            enum:
              - HMFIELD
              - XSD
        - name: type
          in: query
          required: false
          description: name of type in either XSD or HMFIELD ontology
          schema:
            type: string
            example: anyURI
      responses:
        '200':
          description: Array of metadata fields with their HMFIELD and/or XSD data types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldTypesResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid value for parameter (e.g., *mapping_source* not HMFIELD or CEDAR); invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No field-type associations (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /field-types/{name}:
    get:
      operationId: field_types_name_get
      summary: Return data types for a specified ingest metadata field. Replacement for field-types.yaml.
      parameters:
        - name: name
          in: path
          required: true
          description: name of the metadata field
          schema:
            type: string
            example: area_unit
        - name: mapping_source
          in: query
          required: false
          description: case-insensitive name of the field-to-type mapping source (HMFIELD = field-types.yaml; CEDAR = CEDAR)
          schema:
            type: string
            enum:
              - HMFIELD
              - CEDAR
        - name: type_source
          in: query
          required: false
          description: case-insensitive name of the type source (HMFIELD = field-types.yaml; XSD = from CEDAR template)
          schema:
            type: string
            enum:
              - HMFIELD
              - XSD
        - name: type
          in: query
          required: false
          description: name of type in either XSD or HMFIELD ontology
          schema:
            type: string
            example: float
      responses:
        '200':
          description: Array of metadata fields with their HMFIELD and/or XSD data types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldTypesResponseSingle'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description:  Invalid value for parameter (e.g., *mapping_source* not HMFIELD or CEDAR); invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No field-type associations (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata

  /field-types-info:
    get:
      operationId: field_types_indo_get
      summary: Returns a list of all available data types for specified metadata field.
      parameters:
        - name: type_source
          in: query
          required: false
          description: case-insensitive name of the type source (HMFIELD = field-types.yaml; XSD = from CEDAR template)
          schema:
            type: string
            enum:
              - HMFIELD
              - XSD
      responses:
        '200':
          description: Array of HMFIELD and/or XSD data types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldTypesInfoResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No field types (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /field-entities:
    get:
      operationId: field_entities_get
      summary: Return associations between ingest metadata fields and provenance entities. Replacement for field-entities.yaml.
      parameters:
        - name: source
          in: query
          required: false
          description: case-insensitive name of the ontology source for the provenance entity mappings. (HMFIELD = from legacy field-entities.yaml)
          schema:
            type: string
            enum:
              - HMFIELD
              - CEDAR
        - name: entity
          in: query
          required: false
          description: case-sensitive name for an entity in either HMFIELD or HUBMAP/SENNET
          schema:
            type: string
            example: Sample
        - name: application_context
          in: query
          required: false
          description: case-insensitive name of the application context
          schema:
            type: string
            enum:
              - HUBMAP
              - SENNET
      responses:
        '200':
          description: Associations between ingest metadata fields and provenance entities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldEntitiesResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description:  Invalid value for parameter (e.g., *source* not HMFIELD or CEDAR); invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No field entities (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /field-entities/{name}:
    get:
      operationId: field_entities_name_get
      summary: Return associations between specified ingest metadata field and provenance entities. Replacement for field-entities.yaml.
      parameters:
        - name: name
          in: path
          required: true
          description: name of the metadata field
          schema:
            type: string
            example: version
        - name: source
          in: query
          required: false
          description: case-insensitive name of the ontology source for the provenance entity mappings. (HMFIELD = from legacy field-entities.yaml)
          schema:
            type: string
            enum:
              - HMFIELD
              - HUBMAP
        - name: entity
          in: query
          required: false
          description: case-sensitive name for entity in either HMFIELD or HUBMAP/SENNET
          schema:
            type: string
            example: Sample
        - name: application_context
          in: query
          required: false
          description: case-insensitive name of the application context
          schema:
            type: string
            enum:
              - HUBMAP
              - SENNET
      responses:
        '200':
          description: Associations between specified ingest metadata field and provenance entities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldEntitiesResponseSingle'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description:  Invalid value for parameter (e.g., *source* not HMFIELD or HUBMAP); invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: No field entities (with list of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /field-assays:
    get:
      operationId: field_assays_get
      summary: Return associations between ingest metadata fields and the "assays" (dataset data types). Replacement for field-assays.yaml. The response from this endpoint is reliable only for datasets that existed prior to the deployment in 2024 of the assay classifier (aka Rules Engine, aka "soft assay types").
      parameters:
        - name: assaytype
          in: query
          required: false
          description: an identifier that corresponds to an assaytype in field_assays.yaml. Although field_assays also identifies with descriptions and alt-names, these are no longer current.
          schema:
            type: string
            example: scRNAseq-10xGenomics
      responses:
        '200':
          description: Array of ingest metadata fields; each field with its associations with assays/dataset types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldAssaysResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: no field to assay relationships found (for the set of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /field-assays/{name}:
    get:
      operationId: field_assays_name_get
      summary: Return associations between the specified ingest metadata field and the "assays" (dataset data types). Replacement for field-assays.yaml. NOTE only those CEDAR fields that are also in legacy field-assays.yaml can be mapped to assays.
      parameters:
        - name: name
          in: path
          required: true
          description: name of the metadata field
          schema:
            type: string
            example: acquisition_instrument_model
        - name: assaytype
          in: query
          required: false
          description: an identifier that corresponds to an assaytype in field_assays.yaml. Although field_assays also identifies with descriptions and alt-names, these are no longer current.
          schema:
            type: string
            example: scRNAseq-10xGenomics
      responses:
        '200':
          description: Specified ingest metadata field with its associations with assays/dataset types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldAssaysResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Missing parameter; invalid parameter value
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: no field to assay relationships found (for the set of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /field-schemas:
    get:
      operationId: field_schemas_get
      summary: Return associations between ingest metadata fields and metadata schemas/CEDAR templates. Replacement for field-schemas.yaml.
      parameters:
        - name: source
          in: query
          required: false
          description: case-insensitive name of the field-to-type mapping source (HMFIELD = field-types.yaml; CEDAR = CEDAR)
          schema:
            type: string
            enum:
              - HMFIELD
              - CEDAR
        - name: schema
          in: query
          required: false
          description: case-sensitive name of a metadata schema or CEDAR template
          schema:
            type: string
            example: imc
      responses:
        '200':
          description: Associations between ingest metadata fields and metadata schemas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldSchemasResponse'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter; invalid value for *source*
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: no field to schema relationships found (for the set of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /field-schemas/{name}:
    get:
      operationId: field_schemas_name_get
      summary: Return associations between a specified ingest metadata field and metadata schemas/CEDAR templates. Replacement for field-schemas.yaml.
      parameters:
        - name: name
          in: path
          required: true
          description: name of the metadata field
          schema:
            type: string
            example: acquisition_instrument_model
        - name: source
          in: query
          required: false
          description: case-insensitive name of the field-to-type mapping source (HMFIELD = field-types.yaml; CEDAR = CEDAR)
          schema:
            type: string
            enum:
              - HMFIELD
              - CEDAR
        - name: schema
          in: query
          required: false
          description: case-sensitive name of a metadata schema or CEDAR template
          schema:
            type: string
            example: imc
      responses:
        '200':
          description: Associations between specified ingest metadata field and metadata schemas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldSchemasResponseSingle'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter; invalid value for *source*
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: no field to schema relationships found (for the set of parameters, if specified)
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - ingestion metadata
  /pathways/with-genes:
    get:
      operationId: pathways_with_genes_get
      summary: Obtains set of Reactome pathway events that have specified genes as participants
      parameters:
        - name: geneids
          in: query
          required: false
          description: optional filter - list of HGNC identifiers. Identifiers can be HGNC IDs, symbols, or alternate symbols. Can be either a comma-delimited list (?geneids=A,B) or multiple single values (?geneids=A&geneids=B).
          schema:
            type: string
            example: EGFR
        - name: pathwayid
          in: query
          required: false
          description: optional filter - Reactome stable ID for a pathway event.
          schema:
            type: string
            example: R-HSA-74160
        - name: pathwaynamestartswith
          in: query
          required: false
          description: case-insensitive optional filter - starting portion of a pathway event name string
          schema:
            type: string
            example: A
        - name: eventtypes
          in: query
          required: false
          description: optional filter - case-insensitive list of Reactome pathway event types. Available event types are toplevelpathway; pathway; reaction; blackboxevent; polymerisation; and depolymerisation. Can be either a comma-delimited list or multiple single values. If no values provided, the default is (toplevelpathway,pathway).
          schema:
            type: string
            example: toplevelpathway
      responses:
        '200':
          description: Reactome pathway events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathwayEvent'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: no events that match parameters
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - pathways
  /pathways/{id}/participants:
    get:
      operationId: pathways_participants_get
      summary: Obtains sets of participants in specified Reactome pathway events
      parameters:
        - name: id
          in: path
          required: true
          description: identifier for a set of Reactome pathway events--either a single Reactome Stable ID or the case-insensitive leading characters of an event name
          schema:
            type: string
            example: R-HSA-74160
        - name: sabs
          in: query
          required: false
          description: optional filter - case-insensitive list of participant source vocabularies. Available SABs include HGNC for genes; UNIPROTKB for proteins; CHEBI for biomolecules; ENSEMBL for genes and transcripts; OMIM for genes; ENTREZ for genes. Can be either a comma-delimited list or multiple single values. If no values provided, the default is "HGNC".
          schema:
            type: string
            example: HGNC
        - name: featuretypes
          in: query
          required: false
          description: optional filter that applies only when sabs includes ENSEMBL - case-insensitive list of ENSEMBL feature types as specified by GENCODE. Accepted values are "gene", "transcript". Can be either a comma-delimited list or multiple single values. If no values provided, the default is "gene".
          schema:
            type: string
            example: gene
      responses:
        '200':
          description: participants in the Reactome pathway events, grouped by SAB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathwayParticipant'
        '303':
          description: The response size exceeds a limit set by the server. The response content is stored in a file in a AWS S3 bucket. The returned response includes a URL that can be used to download the stored file.
        '400':
          description: Invalid parameter
        '403':
          description: The response size exceeds a limit set by the server.
        '404':
          description: no events that match parameters
        '504':
          description: The query run time exceeded the specified timeout.
        '5XX':
          description: Unexpected error
      tags:
        - pathways
components:
  schemas:
    RuiCodeTerm:
      type: object
      description: Respoonse body for organs/by-code GET request
      properties:
        rui_code:
          type: string
          description: Two letter organ code
          example: "UT"
        term:
          type: string
          description: Organ type
          example: "Uterus"
    SabCodeTermRuiCode:
      type: object
      description: Response body for organs GET request
      properties:
        sab:
          type: string
          description: Source abbreviation
          example: "HUBMAP"
        term:
          type: string
          description: Organ type
          example: "Uterus"
        code:
          type: string
          description: The identifier for a concept in a vocabulary or ontology in the UMLS. A code is unique to the ontology.
          example: "C030081"
        rui_code:
          type: string
          description: Two letter organ code
          example: "UT"
        rui_supported:
          type: boolean
          description: whether the organ is supported in the Registration User Interfce (RUI)
          example: true
        organ_uberon:
          type: string
          description: UBERON or FMA code.
        organ_cui:
          type: string
          description: The organ CUI
        laterality:
          type: string
          description: laterality of the organ-- left, right, or null
          example: left
        category:
          type: object
          description: the organ's category. Used primarily for organs that exhibit laterality.
          properties:
            organ_uberon:
              type: string
              description: UBERON code
              example: "UBERON:0002185"
            term:
              type: string
              description: name of the organ category
              example: Bronchus
    HGNCIdRelationships:
      type: object
      description: Response Body for relationships/hgnc-id/{id} GET request
      properties:
        symbol-approved:
          description: HGNC data Approved Symbols, but should only be one
          type: array
          items:
            type: string
            example: ["MMRN1"]
        symbol-previous:
          description: HGNC data Previous Symbols
          type: array
          items:
            type: string
            example: ["MMRN"]
        symbol-alias:
          description: HGNC data Alias Symbols
          type: array
          items:
            type: string
            example: ["EMILIN4", "GPIa*", "ECM"]
    SabCodeTerm: # Schema name
      type: object
      properties:
        sab:
          type: string
          example: NCI
        code:
          type: string
          example: C16853
        term:
          type: string
          example: Microscopy
    GeneListResponse:
      type: object
      description: High-level information on a set of genes requested by the genes endpoint.
      properties:
        genes:
          type: array
          description: gene information
          items:
            type: object
            properties:
              approved_name:
                type: string
                description: HGNC approved name
                example: multimerin 1
              approved_symbol:
                type: string
                description: HGNC approved symbol
                example: MMRN1
              summary:
                type: string
                description: RefSeq summary for the gene
                example: Multimerin is a massive, soluble protein found in....
        pagination:
          type: object
          description: pagination statistics
          properties:
            items_per_page:
              type: number
              description: original value of genes_per_page request parameter
              example: 3
            page:
              type: number
              description: original value of page request parameter
              example: 1
            total_pages:
              type: number
              description: calculated total number of "pages" (blocks) based on the values of items_per_page and the total number of items
              example: 14381
            starts_with:
              type: string
              description: original value of starts_with request parameter
              example: M
            item_count:
              type: number
              description: Calculated count of items. If starts_with is non-null, the count is that of the genes with approved HGNC symbols that start with the value of starts_with.
              example: 500
    GeneResponse:
      type: object
      description: Reference information on a gene requested by the gene endpoint
      properties:
        alias_names:
          type: array
          description: HGNC alias names
          items:
            type: string
          example: [glycoprotein Ia*]
        alias_symbols:
          type: array
          description: HGNC alias symbols
          items:
            type: string
          example: [GPIa*,EMILIN4,ECM]
        approved_name:
          type: string
          description: HGNC approved name
          example: multimerin 1
        approved_symbol:
          type: string
          description: HGNC approved symbol
          example: MMRN1
        hgnc_id:
          type: number
          description: numeric HGNC ID for the gene
          example: 60
        previous_names:
          type: array
          description: previous names for the gene in HGNC
          items:
            type: string
          example: [multimerin]
        previous_symbols:
          type: array
          description: previous symbols for the gene in HGNC
          items:
            type: string
            example: [MMRN]
        references:
          type: array
          description: Reference for the gene between HGNC and other vocabularies. References can be either a cross-reference (e.g., between HGNC ID and NCBI Entrez ID) or from a known relationship (e.g., gene-protein relationships between a gene in HGNC and a protein in UniProtKB).
          items:
            type: object
            properties:
              id:
                type: string
                description: ID (code) for the reference in the source
                example: 22915
              source:
                type: string
                description: source vocabulary for the reference
                example: entrez
              url:
                type: string
                description: URL to reference site
                example: https://www.ncbi.nlm.nih.gov/gene/22915
        summary:
          type: string
          description: RefSeq summary of the gene
          example: Multimerin is a massive, soluble protein found in....
    GeneDetailResponse:
      type: object
      description: Detailed information on a gene requested by the gene endpoint
      properties:
        alias_names:
          type: array
          description: HGNC alias names
          items:
            type: string
          example: [glycoprotein Ia*]
        alias_symbols:
          type: array
          description: HGNC alias symbols
          items:
            type: string
          example: [GPIa*,EMILIN4,ECM]
        approved_name:
          type: string
          description: HGNC approved name
          example: multimerin 1
        approved_symbol:
          type: string
          description: HGNC approved symbol
          example: MMRN1
        cell_types:
          type: array
          description: Cell Ontology cell types associated with a HGNC gene in the Human Referene Atlas (HRA)
          items:
            type: object
            properties:
              definition:
                type: string
                description: Definition of the cell type from Cell Ontology
                example: A endothelial cell of a lymphatic ....
              id:
                type: string
                description: Identifier for the cell type, in format CL<colon>code
                example: CL:0002138
              name:
                type: string
                description: Name (preferred term) for the cell type from Cell Ontology
                example: endothelial cell of lymphatic vessel
              organ_levels:
                type: array
                description: Organ level codes associated with the cell type in cell type annotations
                items:
                  type: object
                  properties:
                    organ_level_code:
                      type: string
                      description: code for the organ level
                      example: 'AZ:1000001'
                    organ_level_term:
                      type: string
                      description: term for the organ level
                      example: AZ_Heart_L2
                    annotation:
                      type: string
                      description: SAB of the cell type annotation
                      example: AZ
                    uberon_code:
                      type: string
                      description: code for the UBERON organ of which the organ level is part
                      example: UBERON:0000948
                    uberon_term:
                      type: string
                      description: term for the UBERON organ of which the organ level is part
                      example: heart
        sources:
          type: array
          description: Array of identifiers of sources for the association of the cell type to the gene
          items:
            type: string
            example: Human Reference Atlas
        hgnc_id:
          type: number
          description: numeric HGNC ID for the gene
          example: 60
        previous_names:
          type: array
          description: previous names for the gene in HGNC
          items:
            type: string
          example: [multimerin]
        previous_symbols:
          type: array
          description: previous symbols for the gene in HGNC
          items:
            type: string
            example: [MMRN]
        references:
          type: array
          description: Reference for the gene between HGNC and other vocabularies. References can be either a cross-reference (e.g., between HGNC ID and NCBI Entrez ID) or from a known relationship (e.g., gene-protein relationships between a gene in HGNC and a protein in UniProtKB).
          items:
            type: object
            properties:
              id:
                type: string
                description: ID (code) for the reference in the source
                example: 22915
              source:
                type: string
                description: source vocabulary for the reference
                example: entrez
              url:
                type: string
                description: URL to reference site
                example: https://www.ncbi.nlm.nih.gov/gene/22915
        summary:
          type: string
          description: RefSeq summary of the gene
          example: Multimerin is a massive, soluble protein found in....
    ProteinListResponse:
      type: object
      description: High-level list of proteins with pagination details, requested by the proteins endpoint.
      properties:
        proteins:
          type: array
          description: protein information
          items:
            type: object
            properties:
              id:
                type: string
                description: UniProtKB identifier
                example: Q13201
              entry_name:
                type: string
                description: UniProtKB Entry Name
                example: MMRN1_HUMAN
              recommended_name:
                type: string
                description: UniProtKB Recommended Name
                example: multimerin-1
              #synonyms:
                #type: array
                #description: list of synonyms
                #items:
                  #type: string
                #example:
                  #[p155,p-155,multimerin,Endothelial cell multimerin]
        pagination:
          type: object
          description: pagination statistics
          properties:
            items_per_page:
              type: number
              description: original value of proteins_per_page request parameter
              example: 3
            page:
              type: number
              description: original value of page request parameter
              example: 1
            total_pages:
              type: number
              description: calculated total number of "pages" (blocks) based on the values of proteins_per_page and the total number of proteins
              example: 14381
            starts_with:
              type: string
              description: original value of starts_with request parameter
              example: M
            item_count:
              type: number
              description: Count of proteins. If starts_with is non-null, the count is that of the proteins with names that start with the value of starts_with.
              example: 500
    ProteinDetailResponse:
      type: object
      description: Detailed information on a protein requested by the protein endpoint
      properties:
        id:
          type: string
          description: UniProtKB identifier
          example: Q13201
        entry_name:
          type: string
          description: UniProtKB Entry Name
          example: MMRN1_HUMAN
        recommended_name:
          type: string
          description: UniProtKB Recommended Name
          example: multimerin-1
        #synonyms:
          #type: array
          #description: alternative names
          #items:
            #type: string
          #example: [EMILIN-4,Elastin microfibril interface located protein 4 (Elastin microfibril interfacer 4),Endothelial cell multimerin]
        references:
          type: array
          description: Array of links to protein databases
          items:
            type: object
            properties:
              source:
                type: string
                description: protein database name
                example: uniprotkb
              entry:
                type: string
                description: description of protein in source--e.g., the "function" in UniProtKB
                example: Carrier protein for platelet (but not plasma) factor V/Va. Plays a role…
              url:
                type: string
                description: URL to reference site
                example: https://www.ncbi.nlm.nih.gov/gene/22915
              curation:
                type: string
                description: method of curation
                enum:
                  - swissprot
                  - trembl
        organisms:
          type: array
          description: array of relevant organism, named in binomial nomenclature
          items:
            type: string
            example: [Homo sapiens]
    CellTypeListResponse:
      type: object
      description: High-level list of cell types with pagination details, requested by the celltypes-info endpoint.
      properties:
        cell_types:
          type: array
          description: cell type information
          items:
            type: object
            properties:
              id:
                type: string
                description: Cell Ontology code
                example: CL:0002138
              name:
                type: string
                description: Preferred term for the cell type from Cell Ontology
                example: endothelial cell of lymphatic vessel
              definition:
                type: string
                description: Definition of the cell type from Cell Ontology
                example: A endothelial cell of a lymphatic vessel. The border of…
        pagination:
          type: object
          description: pagination statistics
          properties:
            items_per_page:
              type: number
              description: original value of celltypes_per_page request parameter
              example: 3
            page:
              type: number
              description: original value of page request parameter
              example: 1
            total_pages:
              type: number
              description: calculated total number of "pages" (blocks) based on the values of celltypes_per_page and the total number of celltypes
              example: 14381
            starts_with:
              type: string
              description: original value of starts_with request parameter
              example: E
            item_count:
              type: number
              description: calculated count of cell types. If starts_with is non-null, the count is that of the cell types with names that start with the value of starts_with.
              example: 500
    CellTypeResponse:
      type: object
      description: Reference information on a cell type requested by the celltypes endpoint
      properties:
        cell_type:
          type: object
          description: cell type identifiers
          properties:
            id:
              type: string
              description: Cell Ontology code
              example: CL:0002138
            name:
              type: string
              description: Preferred term for the cell type from Cell Ontology
              example: endothelial cell of lymphatic vessel
            definition:
              type: string
              description: Definition of the cell type from Cell Ontology
              example: A endothelial cell of a lymphatic vessel. The border of…
    CellTypeDetailResponse:
      type: object
      description: Detailed information on a cell type requested by the celltypes endpoint
      properties:
        cell_type:
          type: object
          description: cell type identifiers
          properties:
            id:
              type: string
              description: Cell Ontology code
              example: CL:0002138
            name:
              type: string
              description: Preferred term for the cell type from Cell Ontology
              example: endothelial cell of lymphatic vessel
            definition:
              type: string
              description: Definition of the cell type from Cell Ontology
              example: A endothelial cell of a lymphatic vessel. The border of…
        biomarkers:
          type: array
          description: Array of biomarkers associated with the cell type
          items:
            type: object
            properties:
              reference:
                type: string
                description: source for association between cell type and biomarker
                enum:
                  - Human Reference Atlas
                  - Cells
              biomarker_type:
                type: string
                description: type of biomarker
                enum:
                  - gene
                  - protein
                  - lipid
                  - metabolite
              entry:
                type: object
                description: Encoded entry in reference
                properties:
                  vocabulary:
                    type: string
                    description: vocabulary for entry
                    example: hgnc
                  id:
                    type: string
                    description: identifier for entry in vocabulary
                    example: 7178
                  symbol:
                    type: string
                    description: symbol for entry in vocabulary
                    example: MMRN1
                  name:
                    type: string
                    description: preferred term for entry in vocabulary
                    example: multimerin-1
        organ_levels:
          type: array
          description: Organ level codes associated with the cell type in cell type annotations
          items:
            type: object
            properties:
              organ_level_code:
                type: string
                description: code for the organ level
                example: 'AZ:1000001'
              organ_level_term:
                type: string
                description: term for the organ level
                example: AZ_Heart_L2
              annotation:
                type: string
                description: SAB of the cell type annotation
                example: AZ
              uberon_code:
                type: string
                description: code for the UBERON organ of which the organ level is part
                example: UBERON:0000948
              uberon_term:
                type: string
                description: term for the UBERON organ of which the organ level is part
                example: heart
    FieldDescriptionsResponse:
      type: object
      description: Descriptions for ingest metadata fields
      properties:
        fields:
          type: array
          description: array of fields and their descriptions
          items:
            type: object
            properties:
              code_ids:
                type: array
                description: Codes for the field in different ontologies. HMFIELD codes are from the legacy field_*.yaml files; CEDAR codes are from CEDAR template schemas.
                items:
                  type: string
                  example: ["HMFIELD:1008","CEDAR:9f654d25-4de7-4eda-899b-417f05e5d5c3"]
              name:
                type: string
                description: identifier for metadata field
                example: ablation_distance_between_shots_x_units
              descriptions:
                type: array
                description: descriptions of field, from both HMFIELD and CEDAR
                items:
                  type: object
                  properties:
                    source:
                      type: string
                      description: source of the description
                      example: CEDAR
                    description:
                      type: string
                      description: description string
                      example: Units of x resolution distance between laser ablation shots.
    FieldDescriptionsResponseSingle:
      type: object
      description: Descriptions for a single ingest metadata field
      properties:
        code_ids:
          type: array
          description: Codes for the field in different ontologies. HMFIELD codes are from the legacy field_*.yaml files; CEDAR codes are from CEDAR template schemas.
          items:
            type: string
            example: ["HMFIELD:1008","CEDAR:9f654d25-4de7-4eda-899b-417f05e5d5c3"]
        name:
          type: string
          description: identifier for metadata field
          example: ablation_distance_between_shots_x_units
        descriptions:
          type: array
          description: descriptions of field, from both HMFIELD and CEDAR
          items:
            type: object
            properties:
              source:
                type: string
                description: source of the description
                example: CEDAR
              description:
                type: string
                description: description string
                example: Units of x resolution distance between laser ablation shots.
    FieldTypesResponse:
      type: object
      description: Associations between ingest metadata fields and ingest metadata field data types
      properties:
        fields:
          type: array
          description: array of fields and their data types
          items:
            type: object
            properties:
              code_ids:
                type: array
                description: Codes for the field in different ontologies. HMFIELD codes are from the legacy field_*.yaml files; CEDAR codes are from CEDAR template schemas.
                items:
                  type: string
                  example: ["HMFIELD:1018","CEDAR:ea6e26f1-30df-4a8c-9f15-63111ea0b68b"]
              name:
                type: string
                description: identifier for metadata field
                example: area_unit
              types:
                type: array
                description: field type associations
                items:
                  type: object
                  properties:
                    mapping_source:
                      type: string
                      description: source of the field-to-type mapping (i.e., the ontology).
                      example: CEDAR
                    type_source:
                      type: string
                      description: source of the field code (i.e., the type ontology)
                      example: XSD
                    type:
                      type: string
                      description: the term for the type code in the type ontology
                      example: float
    FieldTypesResponseSingle:
      type: object
      description: Associations between single ingest metadata field and ingest metadata field data types
      properties:
        code_ids:
          type: array
          description: Codes for the field in different ontologies. HMFIELD codes are from the legacy field_*.yaml files; CEDAR codes are from CEDAR template schemas.
          items:
            type: string
            example: ["HMFIELD:1018","CEDAR:ea6e26f1-30df-4a8c-9f15-63111ea0b68b"]
        name:
          type: string
          description: identifier for metadata field
          example: area_unit
        types:
          type: array
          description: field type associations
          items:
            type: object
            properties:
              mapping_source:
                type: string
                description: source of the field-to-type mapping (i.e., the ontology).
                example: CEDAR
              type_source:
                type: string
                description: source of the field code (i.e., the type ontology)
                example: XSD
              type:
                type: string
                description: the term for the type code in the type ontology
                example: float
    FieldTypesInfoResponse:
      type: object
      description: Details on ingest metadata field types.
      properties:
        types:
          type: array
          description: field types
          items:
            type: object
            properties:
              type_source:
                type: string
                description: source of the field code (i.e., the type ontology)
                example: XSD
              type:
                type: string
                description: the term for the type code in the type ontology
                example: float
    FieldEntitiesResponse:
      type: object
      description: Associations between ingest metadata fields and provenance entities
      properties:
        fields:
          type: array
          description: array of fields, each with its associated provenance entities
          items:
            type: object
            properties:
              codeID:
                type: string
                description: Code in the HMFIELD ontology
                example: HMFIELD:1001
              name:
                type: string
                description: identifier for metadata field
                example: ablation_distance_between_shots_x_units
              entities:
                type: array
                description: array of provenance entities associated with the field. Each provenance entity can correspond to nodes in both the HMFIELD and HUBMAP ontologies.
                items:
                  type: object
                  properties:
                    nodes:
                      type: array
                      description: array of nodes for the entity in all ontologies.
                      items:
                        type: object
                        properties:
                          source:
                            type: string
                            description: ontology for the provenance entity
                            example: HUBMAP
                          code:
                            type: string
                            description: code for the provenance entity in the source ontology
                            example: C040002
                          name:
                            type: string
                            description: preferred term for the provenance entity
                            example: Sample
    FieldEntitiesResponseSingle:
      type: object
      description: Associations between single ingest metadata field and provenance entities
      properties:
        codeID:
          type: string
          description: Code in the HMFIELD ontology
          example: HMFIELD:1001
        name:
          type: string
          description: identifier for metadata field
          example: ablation_distance_between_shots_x_units
        entities:
          type: array
          description: array of provenance entities associated with the field. Each provenance entity can correspond to nodes in both the HMFIELD and HUBMAP ontologies.
          items:
            type: object
            properties:
              nodes:
                type: array
                description: array of nodes for the entity in all ontologies.
                items:
                  type: object
                  properties:
                    source:
                      type: string
                      description: ontology for the provenance entity
                      example: HUBMAP
                    code:
                      type: string
                      description: code for the provenance entity in the source ontology
                      example: C040002
                    name:
                      type: string
                      description: preferred term for the provenance entity
                      example: Sample
    FieldAssaysResponse:
      type: object
      description: Associations between ingest metadata fields and "assays" (or datasets generated by assays)
      properties:
        fields:
          type: array
          description: array of fields, each with its associated assays/dataset types
          items:
            type: object
            properties:
              field_name:
                type: string
                description: name of the metadata field
                example: acquisition_instrument_model
              assaytypes:
                type: array
                description: array of assaytypes associated with the field
                items:
                  type: string
                  example: MIBI
    FieldSchemasResponse:
      type: object
      description: Associations between ingest metadata fields and metadata schemas
      properties:
        fields:
          type: array
          description: array of fields, each with its associated schemas
          items:
            type: object
            properties:
              code_ids:
                type: array
                description: Codes for the field in different ontologies. HMFIELD codes are from the legacy field_*.yaml files; CEDAR codes are from CEDAR template schemas.
                items:
                  type: string
                  example: ["HMFIELD:1008","CEDAR:9f654d25-4de7-4eda-899b-417f05e5d5c3"]
              name:
                type: string
                description: identifier for metadata field
                example: ablation_distance_between_shots_x_units
              schemas:
                type: array
                description: array of metadata schemas/templates associated with the field
                items:
                  type: object
                  properties:
                    source:
                      type: string
                      description: source of schema mapping
                      example: HMFIELD
                    schema:
                      type: string
                      description: name of schema
                      example: imc3d
    FieldSchemasResponseSingle:
      type: object
      description: Associations between a single ingest metata fields and metadata schemas
      properties:
        code_ids:
          type: array
          description: Codes for the field in different ontologies. HMFIELD codes are from the legacy field_*.yaml files; CEDAR codes are from CEDAR template schemas.
          items:
            type: string
            example: ["HMFIELD:1008","CEDAR:9f654d25-4de7-4eda-899b-417f05e5d5c3"]
        name:
          type: string
          description: identifier for metadata field
          example: ablation_distance_between_shots_x_units
        schemas:
          type: array
          description: array of metadata schemas/templates associated with the field
          items:
            type: object
            properties:
              source:
                type: string
                description: source of schema mapping
                example: HMFIELD
              schema:
                type: string
                description: name of schema
                example: imc3d
    AssayClass:
      type: object
      description: A set of assay classifications
      properties:
        rule_description:
          type: object
          description: information on the rule in the Rules Engine's testing_rule_chain.json
          properties:
            code:
              type: string
              description: UBKG code for the rule.
              example: C200150
            application_context:
              type: string
              description: the application context for the code--i.e., the SAB
              example: HUBMAP
            name:
              type: string
              description: corresponds to the "rule_description" key in the assay classification object in the testing_rule_chain.json.
              example: non-DCWG primary IMC2D
        value:
[...]
