services:
  
  hs-ontology-api:
    build: 
      context: ./ubkg-api
    # Build the image with name and tag
    # Exit with an error message containing err if unset or empty in the environment
    image: hs-ontology-api:${HS_ONTOLOGY_API_VERSION:?err}
    volumes:  
      # Mount the VERSION file and BUILD file 
      - "../VERSION:/usr/src/app/VERSION" 
      - "../BUILD:/usr/src/app/BUILD" 
      # Mount the source code to container  
      - "../src:/usr/src/app/src"
