ubkg-api==2.1.1
#ubkg-api==git+https://github.com/x-atlas-consortia/ubkg-api.git@jas_hmfields_test
Flask==2.1.3
neo4j==5.15.0

# for analysis of tabular data
pandas==1.5.0
numpy==1.23.5

# Flask 2.1.3 installs the latest Werkzeug==3.0.0 (released on 9/30/2023) and causing import issues 
# Use a pinned version 2.3.7 (the latest release before 3.0.0) to mitigate temporaryly
# Will upgrade Flask to newer version later on across all APIs. 10/3/2023 - Zhou
Werkzeug==2.3.7

# Cells API client
# hubmap-api-py-client==0.0.9

# Test and analysis scripts
argparse==1.4.0
datatest==0.11.1
deepdiff==6.7.1
