ubkg-api==1.3.1
Flask == 2.1.3
neo4j == 4.2.1
#git+https://github.com/x-atlas-consortia/ubkg-api.git@2-refactor-application-endpoints-with-Bill-suggestions#egg=ubkg-api
git+https://github.com/x-atlas-consortia/ubkg-api.git@dev-integrate#egg=ubkg-api
